.ancore-top
	span.ancore-top__value#ancore-top-value
		| 0 %
	svg.ancore-top__circle(
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="48"
		height="48"
		viewbox="0 0 120 120"
	)
		circle(
			cx="60"
			cy="60"
			r="56"
			fill="none"
			stroke="#282A33"
			stroke-width="3"
		)
		circle#ancore-top-circle(
			cx="60"
			cy="60"
			r="56"
			fill="none"
			stroke-dashoffset="354"
			stroke-dasharray="354"
			stroke="#D2233C"
			stroke-width="4"
			transform="rotate(-90 60 60)"
		)

	svg.ancore-top__arrow(
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="48"
		height="48"
		viewbox="0 0 48 48"
	)
		path(d="M24 36V12.3678" stroke="#282A33" fill="none" stroke-width="2")
		path(d="M15 21.2874L24 12L33 21.2874" stroke="#282A33" fill="none" stroke-width="1.9")
