//- @demo +lazyImage({
		src: `${baseDir}images/path.type`,
		srcset: `${baseDir}images/path@2x.type 2x`,
		alt: '',
		appear: false,
	}).class(attrs)
mixin lazyImage(data)
	img.image.js-lazy(
		draggable="false"
		src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAD0lEQVR42mNkwAIYh7IgAAVVAAuInjI5AAAAAElFTkSuQmCC"
		data-src=data.src
		data-srcset=data.srcset
		data-placeholder-background=data.placeholder
		alt=data.alt
	)&attributes(attributes)

	if data.appear
		noscript
			img(src=data.src alt=data.alt)

//- @demo +lazyPicture({
			src: 'photo.jpg',
			alt: '',
			appear: false,
			device: false,
			retina: false,
			type: 'png', Указываем путь без разрешения если retina или device = true
		}, [
				{
					srcset: `${baseDir}images/path.type 1x, ${baseDir}images/path@2x.type 2x`,
					media: '(min-width: 320px)',
				}
			]
		).class(attrs)
mixin lazyPicture(data, source)
	if data.type
		- var imgUrl = `${data.src}.${data.type}`
	else
		- var imgUrl = data.src

	picture.lozad.js-lazy(
		data-iesrc=imgUrl
		data-alt=data.alt

	)&attributes(attributes)
		if source
			each object in source
				source(
					srcset=object.srcset
					media=object && object.media ? object.media : null
					type=object && object.media ? object.type : null
				)
		if data.webp
			- data.type = 'webp'
		if data.retina
			source(
				srcset=`
				 	${data.src}${imgParams.desktopNormal}.${data.type} 1x,
				  	${data.src}${imgParams.desktopRetina}.${data.type} 2x
					`
				media=data.device ? `(min-width: ${imgParams.adaptiveWidth + 1}px)` : null
				type=`image/${data.type}`
			)
		if data.device
			source(
				srcset=`
				 	${data.src}${imgParams.devicesNormal}.${data.type} 1x,
				  	${data.src}${imgParams.devicesRetina}.${data.type} 2x
					`
				media=data.device ? `(max-width: ${imgParams.adaptiveWidth}px)` : null
				type=`image/${data.type}`
			)

		//- fallback для работы всего элемента picture в связке с lozad
		source(srcset=imgUrl)

		if data.appear
			noscript
				img(src=imgUrl alt=data.alt)

//- @demo +lazyBackground('url(`${baseDir}images/path.type`) 1x, url(`${baseDir}images/path@2x.type 2x`) 2x').class(attrs)
mixin lazyBackground(url)
	.js-lazy(
		data-background-image=url
	)&attributes(attributes)

//- @demo +lazyVideo({
		poster: '',
		source: [
			{
				srcset: `${baseDir}path.type`,
				type: 'video/{type}',
			}
		]
	}).class(attrs)
mixin lazyVideo(data)
	video.js-lazy(data-poster=data.poster)&attributes(attributes)
		each src in data.source
			source(
				data-src=src.srcset
				media=src && src.media ? src.media : null
				type=src && src.media ? src.type : null
			)

//- @demo +lazyIframe(src).class(attrs)
mixin lazyIframe(src)
	iframe.js-lazy(data-src=src)&attributes(attributes)
