section.section.about-user#about-user(data-scroll-section)
	.container.row
		.about-user__info.info-about-user
			picture.info-about-user__logo.a-top(
				data-scroll-class="is-view"
				data-scroll-repeat
				data-scroll
				itemprop="image"
			)
				source(
					srcset="./images/base/logo.webp, ./images/base/logo@2x.webp 2x"
					media="(min-width: 1025px)"
					type="image/webp"
				)
				source(
					srcset="./images/base/logo@mob.webp, ./images/base/logo@mob2x.webp 2x"
					media="(max-width: 1024px)"
					type="image/webp"
				)
				img(alt="Логотип" width="150" height="150" src="./images/base/logo.png")
			h1.info-about-user__title.a-top(
				itemprop="name"
				data-scroll-repeat
				data-scroll-class="is-view"
				data-scroll
			)
				| Ivan
				br
				| Frontend developer

			p.info-about-user__text.a-top(
				itemprop="description"
				data-scroll-repeat
				data-scroll-class="is-view"
				data-scroll
			)
				| As a developer, I highly appreciate the ability to bring a designer's vision to life,
				| which I think is very useful for business. I get great satisfaction from watching
				| working from idea to design, especially when it appears in the hands of the user.
				| I believe that user-oriented solutions are the most valuable
				| digital resources of the future.

		address.about-user__contact.a-top(data-scroll-class="is-view" data-scroll-repeat data-scroll)
			ul.contact-about-user(itemprop="contactPoint")
				li.contact-about-user__item(itemprop="email")
					a(href="mailto:xxx@list.ru")
						| xxx@list.ru
				li.contact-about-user__item(itemprop="telephone")
					a(href="tel:+79629991116")
						| +7 (962) 999-11-16
				li.contact-about-user__item(itemprop="address")
					a(href="https://yandex.ru/maps/-/CDar7C1A" target="_blank")
						| Moscow
			.share-social
				button.share-social__button(data-social="facebook" aria-label="Поделится в facebook" type="button")
					+svg('soc-fb').share-social__img
				button.share-social__button(data-social="vk" aria-label="Поделится в vk" type="button")
					+svg('soc-vk').share-social__img
				button.share-social__button(data-social="telegram" aria-label="Поделится в telegram" type="button")
					+svg('soc-tg').share-social__img