section.section.experience#experience(data-scroll-section)
	.container.row
		.experience__work.work-experience
			h2.work-experience__title.a-top(data-scroll-repeat data-scroll-class="is-view" data-scroll)
				| Work experience
			.work-experience__row
				.work-experience__item.a-left(data-scroll-repeat data-scroll-class="is-view" data-scroll)
					.work-experience__date
						p
							| Month 2019
					.work-experience__post
						strong(itemprop="jobTitle")
							| Freelance Designer
						.fa-box
							i.fa-rhomb.is-sm-blue
							i.fa-rhomb.is-sm-yellow
							i.fa-rhomb.is-sm-lilac
					.work-experience__company
						p.work-experience__place(itemprop="worksFor")
							span
								| Netherlands, Worldwide
					.work-experience__done(itemprop="makesOffer")
						p
							| Available for a&nbsp;project or&nbsp;job in&nbsp;UX/UI, Visual and Product design.
						ul.work-experience__link
							li
								a.link(href="/" target="_blank" rel="noopener noreferrer")
									| Commercial tryouts
							li
								a.link(href="/" target="_blank" rel="noopener noreferrer")
									| Personal projects

				.work-experience__item.a-left(data-scroll-repeat data-scroll-class="is-view" data-scroll)
					.work-experience__date
						p
							| Month 2017 - Month 2018
					.work-experience__post
						strong(itemprop="jobTitle")
							| Digital Designer
						.fa-box
							i.fa-rhomb.is-sm-pink
							i.fa-rhomb.is-sm-blue
					.work-experience__company
						i.work-experience__logo.is-solutions
						p.work-experience__place(itemprop="worksFor")
							span.text-bold
								| J Creative Solutions
							span
								| Digital agency in Minsk, Belarus
					.work-experience__done(itemprop="makesOffer")
						p
							| Created visuals for digital marketing channels such as&nbsp;social media, promo web and
							| online 	ads. Developed visual language from scratch or&nbsp;following the branding guidelines.
							| Designed presentations for clients and indoor purposes.
						ul.work-experience__link
							li
								a.link(href="/" target="_blank" rel="noopener noreferrer")
									| Agency projects

				.work-experience__item.a-left(data-scroll-repeat data-scroll-class="is-view" data-scroll)
					.work-experience__date
						p
							| Month 2014 - Month 2017
					.work-experience__post
						strong(itemprop="jobTitle")
							| SEO Specialist → Lead SEO Specialist
						.fa-box
							i.fa-rhomb.is-sm-blue
							i.fa-rhomb.is-sm-orange
					.work-experience__company
						i.work-experience__logo.is-oz
						p.work-experience__place(itemprop="worksFor")
							span.text-bold
								| OZ.by
							span
								| Online bookstore in Minsk, Belarus
					.work-experience__done(itemprop="makesOffer")
						p
							| Improved website performance and user experience of&nbsp;the biggest online bookstore&nbsp;OZ
							| in&nbsp;Belarus, being a&nbsp;part of&nbsp;the marketing team, I&nbsp;interpreted
							| Google Analytics data to&nbsp;IT, content and marketing colleagues. Advised on&nbsp;tech
							| and content optimization strategy, automated processes, provided reports, increased
							| organic traffic up&nbsp;to&nbsp;150%.
						ul.work-experience__link
							li
								a.link(href="/" target="_blank" rel="noopener noreferrer")
									| Annual company report 2016

				.work-experience__item.a-left(data-scroll-repeat data-scroll-class="is-view" data-scroll)
					.work-experience__date
						p
							| Month 2012 - Month 2013
					.work-experience__post
						strong(itemprop="jobTitle")
							| Content Specialist
						.fa-box
							i.fa-rhomb.is-sm-orange
					.work-experience__company
						i.work-experience__logo.is-21vek
						p.work-experience__place(itemprop="worksFor")
							span.text-bold
								| 21vek.by
							span
								| E-commerce store in Minsk, Belarus
					.work-experience__done(itemprop="makesOffer")
						p
							| Added and modified the product information, prepared images and text for the website,
							| developed categories filters, ensure all info is&nbsp;correct in&nbsp;the catalogue with
							| the goal of&nbsp;improving online shopper experience.

				.work-experience__item.a-left(data-scroll-repeat data-scroll-class="is-view" data-scroll)
					.work-experience__date
						p
							| Month 2011 - Month 2014
					.work-experience__post
						strong(itemprop="jobTitle")
							| Software Support Engineer
						.fa-box
							i.fa-rhomb.is-sm-aqua
					.work-experience__company
						i.work-experience__logo.is-integral
						p.work-experience__place(itemprop="worksFor")
							span.text-bold
								| Integral
							span
								| Microelectronics factory in Minsk, Belarus
					.work-experience__done(itemprop="makesOffer")
						p
							| Supported retail accounting system LS&nbsp;Trade, troubleshoot technical problems.

		.experience__picture.picture-experience#experience-box
			.picture-experience__box(data-scroll-sticky data-scroll-target="#experience-box" data-scroll)
				picture.picture-experience__img(itemprop="image")
					source(
						srcset="./images/pages/home/manMagic.webp, ./images/pages/home/manMagic@2x.webp 2x"
						media="(min-width: 1025px)"
						type="image/webp"
					)
					source(
						srcset="./images/pages/home/manMagic@mob.webp, ./images/pages/home/manMagic@mob2x.webp 2x"
						media="(max-width: 1024px)"
						type="image/webp"
					)
					img(alt="Magic man" width="305" height="500" src="./images/pages/home/manMagic.png")

		.experience__education.education-experience
			h2.education-experience__title.a-top(data-scroll-repeat data-scroll-class="is-view" data-scroll)
				| Education
			.education-experience__row
				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.education-experience__logo.is-experience
					strong
						| Interface Design:
						br
						| Web &amp;&nbsp;Mobile
					p
						| IT-Academy, 2020

				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.fa-rhomb.fa-rhomb--yellow
					strong
						| Fundamentals
						br
						| of Usability
					p
						| Skillshare, Oct 2018

				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.fa-rhomb.fa-rhomb--pink
					strong
						| CG Artist
					p
						| Polygon CG School,
						br
						| May-Sep 2017

				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.fa-rhomb.fa-rhomb--blue
					strong
						| Graphic Design
					p
						| Belarusian State Academy of Arts,
						br
						| 2015 - 2017 Postgraduate Diploma

				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.fa-rhomb.fa-rhomb--orange
					strong
						| SEO Specialist
					p
						| ARTOX Media,
						br
						| Jun-Aug 2012

				.education-experience__item.a-right(
					itemprop="hasOccupation"
					data-scroll-class="is-view"
					data-scroll-repeat
					data-scroll
				)
					i.fa-rhomb.fa-rhomb--aqua
					strong
						| Information Technology Software
					p
						| Belarusian State University of&nbsp;Informatics and Radioelectronics,
						| 2011&nbsp;&mdash;&nbsp;2015
						br
						| Bachelor&rsquo;s degree
					p
						| Polotsk State Economic College, 2007&nbsp;&mdash; 2011 Associate&rsquo;s degree