header.header
	.container
		a.header__logo(href=data.header.links.logo)
			picture(
				itemprop="image"
			)
				source(
					srcset="./images/base/logo.webp, ./images/base/logo@2x.webp 2x"
					type="image/webp"
				)
				img(alt="Логотип" width="92" height="58" src="./images/base/logo.png")
		nav.header__menu
			ul.header__list(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
				each object, key in data.header.menu
					li.header__link.js-to-scroll(
						href=object.url
						data-link=key
					)
						!= object.name

		.header__info